* {
    font-family: "AzoSansRegular", "Helvetica Neue", Arial, sans-serif;
}


.fir_container_header {
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    display: flex;
    align-items: center;
}


.sec_container_header {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    width: 90%;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    

}

a {
    color: white;
    text-decoration: none;
}

#item_yellow {
    color: rgb(255, 255, 128);
}

.input_logo {
  padding: 20px 100px;
  border-radius: 8px;
}
.separ_logo {
     padding-right: 20px;
}

.logo{
    width: 11em;
}


