
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

  :root {
  --color_primary: background-color #f7f7f7;
  }

* {
    font-family: "AzoSansRegular", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

body {
    width: 100%;
    box-sizing: border-box;
}


/* Header-------Header-------Header-------Header-------Header-------Header-------Header------- */

.header-container {
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}

.nav_container_header {
    background-color: rgb(9, 9, 9);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav_container_header a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    
    
    
}


.sec_container_header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 82%;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0;

}

.separacion {
    padding-right: 20%;
}

.item_header {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    
    
    
}

#heart {
    width: 25px;
}

#compras {
    width: 22px;
}
#logo_usuario {
    width: 20px;
}

.sec_container_header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#item_yellow {
    color: rgb(255, 255, 128);
}

.input_logo {
  padding: 10px 50px;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 1em;
  }

 ::placeholder {
    font-size: 0.9em;
    color: rgb(41, 41, 41);
  }

.separ_logo {
     padding-right: 20px;
}


#logo_españa {
    border: 2px solid white;
    border-radius: 20px;
    width: 1.5rem;
}

#greenbutton {
    display: flex;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: #2f602f;
    border: 1px solid #2f602f;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: grey;
    box-sizing: content-box;
    margin-left: 7px;
    margin-right: 7px;
}

#mi_cuenta_logo {
    display: flex;
}


/* Header ------------------------------>>>>>> section */

/* Section-----Section-----Section-----Section-----Section-----Section-----Section-----Section----- */



.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 150px;
}     
    
#pics {
        width: 380px;
        height: 460px;
    }   
    
.pic-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }   

    .section-container h3 {
        font-family: 'Playfair Display', serif;
        font-weight: lighter;
        font-size: 1.2em;
    }

    #pic-comprar {
        color: rgb(58, 58, 58);
        font-size: 0.9em;
        font-weight: 100;
        text-decoration: underline;
    }

    #pics {
        border-radius: 2px;
    }

    .nav-redes {
        border-top: 1px solid #a6a6a6;
        border-bottom: 1px solid #a6a6a6;
        margin-top: 40px;
        box-sizing: content-box;
    }

    .redes {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-h3 {
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 0.9em;
        font-weight: normal;
    }

    .redes a {
        padding: 5px;
    }

    /* Section ------------------------------>>>>>> Footer */

    /* Footer-----------Footer----------- Footer----------- Footer----------- Footer----------- Footer-----------  */

.container_footer {
    display: flex;
    background-color: #f7f7f7;
    width: 100%;
    border-bottom: 1px solid #a6a6a6;
 }


footer {
    background-color: var(--color_primary);
}

.footer_item_1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 100px;
    
}

.container_footer h4 {
    font-size: 15px;
    font-weight: bolder;
    color: #393939;
}

.container_footer p {
    font-size: 15px;
    color: #393939;
}

.footer_item_1 a{
    align-items: center;
    padding: 15px 15px;
}

.footer_item_2 {
    width: 50%;
    display: flex;
    align-items: center;
    border-left: 1px solid #a6a6a6;
    padding-left: 20px;
    padding-bottom: 30px;
}

.footer_item_2 p {
    font-size: 15px;
    padding-left: 10px;
}

/* 











#img_usuario_1 {
    width: 1.8em;
}

.img_globo_1 {
   width: 45px;
   height: 45px;
}

.section_footer {
    background-color: #f7f7f7;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 5%;
    font-size: 27px;
    border-bottom: 1px solid #a6a6a6;
     }

     .section_items {
        padding-top: 40px;
        padding-left: 30px;
      }
      
      .section_footer li a {
          color: black;
      }
      
      .section_footer li {
          padding-bottom: 30px;
          padding-top: 30px;
      }
      
      .footer-section {
          padding: 20px 0px 20px;
      }
      
      .section_items h5 {
          font-size: 30px;
      } */




    /* 
























div a img {
    width: 50px;
}











}



.aside {
  padding-bottom: 100px;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  flex-direction: column;
  border-bottom: 1px solid #a6a6a6;
}

.aside a {
    padding: 40px 0px 40px 0px;
    color: rgb(23, 102, 29);
    font-size: 30px;
    text-decoration: underline;
}

.aside p {
    font-size: 30px;
    font-weight: 200;
}

.footer_item_1:hover {
    text-decoration: underline;
}

/* Medias queris */

@media screen and (max-width: 385px) {
    
.logo{
    width: 5em;
} 

} */

    

