* {
    font-family: "AzoSansRegular", "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}


body {
    padding-bottom: 4000px;
}


.nav_container_header {
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    display: flex;
    align-items: center;
}


.sec_container_header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 90%;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.container_items {
    display: flex;
    margin-left: 1200px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 200;
    
}

.itemheader {
    box-sizing: content-box;
    padding: 20px;
    
}

#heart {
    width: 55px;
}

#compras {
    width: 50px;
}
#usuario {
    width: 35px;
    margin-top: auto;
}



a {
    color: white;
    text-decoration: none;
}

#item_yellow {
    color: rgb(255, 255, 128);
}

.input_logo {
  padding: 20px 100px;
  border-radius: 8px;
  box-sizing: content-box;
  font-size: 2em;
  }

 ::placeholder {
    font-size: 0.9em;
    color: rgb(41, 41, 41);
  }

.separ_logo {
     padding-right: 20px;
}

.logo{
    width: 11em;
}

.yellow-container {
    background-color: rgb(247, 223, 104);
    height: 3.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    color: #7e7ef8;   
}

.comprar_ahora {
    color: #7e7ef8;
    text-decoration: underline;
    
}

.pic-section {
    display: inline-block;
}

.enlaces-imagen h3{
    font-family: 'Times New Roman';
    font-size: 45px;
    font-weight: lighter;
    color: #393939;
    margin-bottom: auto;
}



#pic-comprar {
    color: rgb(58, 58, 58);
    font-size: 1.8em;
    font-weight: 100;
    text-decoration: underline;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    justify-content: space-between;
    padding: 50px 6%;
    gap: 150px 40px;
    
}

#pics {
    width: 660px;
    height: 800px;
}

#greenbutton {
    display: flex;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(47, 96, 47);
    border: 1px solid black;
}
#greenbutton {
    font-size: 1em;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: grey;
}

#logo_españa {
    border: 4px solid white;
    border-radius: 30px;
    width: 3rem;
}

#micuenta-logo {
    display: flex;
    align-items: center;
}

.container_disne {
    background-color: #7e7ef8;
    width: 70%;
}

.items-redes {
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}

div a img {
    width: 50px;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.8em;
    font-weight: 300;
}

.redes a {
    padding: 20px;
}

footer {
    
}

.container_footer {
    display: flex;
    background-color: #f7f7f7;
    width: 100%;
    border-bottom: 1px solid #a6a6a6;

}

.footer_item_1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 135px;
    
}

.container_footer h4 {
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #393939;
    
}

.container_footer p {
    font-size: 25px;
    color: #393939;
}

.footer_item_1 a{
    align-items: center;
    padding: 40px 40px;
}

.footer_item_2 {
    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    border-left: 1px solid #a6a6a6;
    padding-left: 40px;
}

.footer_item_2 p {
    font-size: 30px;
    padding-left: 30px;
}

#img_usuario_1 {
    width: 3.5em;
}

.img_globo_1 {
   width: 55px;
   height: 55px;
}

.section_footer {
    background-color: #f7f7f7;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 5%;
    font-size: 27px;
    border-bottom: 1px solid #a6a6a6;
}

.section_items {
  padding-top: 40px;
  padding-left: 30px;
}

.section_footer li a {
    color: black;
}

.section_footer li {
    padding-bottom: 30px;
    padding-top: 30px;
    
    
}

.footer-section {
    padding: 20px 0px 20px;
}

.section_items h5 {
    font-size: 30px;
}




